@use "colors";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;

  border-top: 1px solid;
  @include colors.border-color("gray-100");

  .right,
  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
}
