@use "colors";

.input-container-list {
  display: flex;
  flex-direction: column;
  & > .input-container {
    margin-bottom: 16px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;

  & > label,
  .input-label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    @include colors.color("gray-700");
    font-weight: 600;
    margin-left: 2px;
  }

  input,
  textarea {
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid;
    @include colors.color("gray-700");
    @include colors.border-color("gray-200");
    @include colors.background("gray-100", 0.5);
    border-radius: 8px;
    font-weight: 500;
    &::placeholder {
      @include colors.color("gray-300");
    }
  }
}
