@use "colors";
@use "typography";

$paddingX: 12px;
$paddingY: 12px;
:root {
  --default-padding-x: #{$paddingX};
}
body {
  height: 100vh;
}
.content-wrapper {
  padding: $paddingY $paddingX;
  height: fit-content;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $paddingX $paddingX $paddingX 20px;
  border-radius: 50px;
  border: 1px solid;
  @include colors.border-color("gray-100");
}

.section-heading {
  @extend .display-heading-1;
  margin: 0;
}

.section-heading-2 {
  @extend .display-heading-2;
  margin: 0;
}

@mixin on-mobile-devices() {
  @media (max-width: 768px) {
    @content;
  }
}

.space-1 {
  height: 1px;
  margin: 8px 0;
}
.space-2 {
  height: 1px;
  margin: 16px 0;
}
