@use "buttons";
@use "colors";
@use "scrollbar";

.tabs {
  @extend .no-scrollbar;
  display: flex;
  overflow-y: scroll;

  padding-left: 24px;
  padding-right: 24px;

  gap: 4px;

  margin-left: calc(-1 * var(--default-padding-x));
  margin-right: calc(-1 * var(--default-padding-x));

  .tab {
    @extend .button;
    position: relative;
    &.selected {
      @extend .secondary;

      &::after {
        content: "";
        display: flex;
        height: 3px;
        width: 20%;
        border-radius: 50px;
        position: absolute;
        bottom: 5px;
        @include colors.background("primary-500");
      }
    }
  }
}
