@use "colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@function font-family() {
  @return unquote(
    '"Poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif'
  );
}
body {
  font-family: font-family();
}

.display-heading-1 {
  @include colors.color("gray-700");
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}

.display-heading-2 {
  @include colors.color("gray-700");
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}

.display-body-1 {
  @include colors.color("gray-700");
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.caption-1 {
  @include colors.color("gray-700");
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.label-medium {
  @include colors.color("gray-700");
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.text-bold {
  font-weight: 700;
}
.text-semibold {
  font-weight: 600;
}

.text-button {
  @include colors.color("gray-700");
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
